@model BillingAdmin.Models.UsersView.UserResetPasswordViewModel

@{
    ViewBag.Title = "Смена пароля - " + @Model.UserName;
}
<div class="white-block">
    <div class="row">
        <div class="col-md-8">
            <h3 class="no-margin no-padding">Смена пароля<br />@Model.UserName</h3>
        </div>
        <div class="col-md-4 text-right">
            <a class="btn btn-orange-tta" href="@Url.Action("Details","AspNetUsers",new { id = Model.Id })">Просмотр</a>
            <a class="btn btn-grey-tta" href="@Url.Action("Index","AspNetUsers")">В список пользователей</a>
        </div>
    </div>
</div>
<div class="line"></div>
<div class="white-block">
    <div class="row">
        <div class="form-horizontal">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        <span class="form-control">@Model.Id</span>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        <div class="password">
                            @Html.PasswordFor(model => model.Password, new { @class = "form", @Value = ViewBag.GeneratePassword })
                            <a href="#" class="password-control"></a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Отправить пароль на почту", new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        <input id="emailsend" name="emailsend" class="checkbox" type="checkbox"
                               style="display: block !important;
                        cursor: pointer;
                        display: inline-block;
                        width: 18px;
                        height: 19px;
                        margin-right: 9px;
                        margin-top: 6px;
                        vertical-align: middle;"
                               value="" />
                    </div>
                </div>
                <div class="form-group">

                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        <div class="password">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form", @Value = ViewBag.GeneratePassword })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8 text-right">
                        <input type="submit" value="Сохранить" class="btn btn-orange-tta" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/ScriptsValidate")
<style>
    .password {
        position: relative;
    }

    .message {
        color: orange;
    }

    .password-control {
        position: absolute;
        top: 11px;
        right: 6px;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url('/Content/Images/view-password.svg') 0 0 no-repeat;
    }

        .password-control.view {
            background: url('/Content/Images/no-view-password.svg') 0 0 no-repeat;
        }
</style>

    <script>
        $('body').on('click', '.password-control', function () {
            if ($('#Password').attr('type') == 'password') {
                $(this).addClass('view');
                $('#Password').attr('type', 'text');
                $('#ConfirmPassword').attr('type', 'text');
            } else {
                $(this).removeClass('view');
                $('#Password').attr('type', 'password');
                  $('#ConfirmPassword').attr('type', 'password');
            }
            return false;
        });
    </script>
}
