@model BillingAdmin.Models.Statistic_pbx

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Statistic_pbx</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UNIQUEID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNIQUEID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.endtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.src_chan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.src_chan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.src_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.src_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dst_chan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dst_chan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dst_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dst_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.linkedid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.linkedid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.did)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.did)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disposition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disposition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recordingfile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recordingfile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.from_account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.from_account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.to_account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.to_account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dialstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dialstatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.appname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.appname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transfer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transfer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_app)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_app)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.billsec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billsec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.work_completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.work_completed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
