@model BillingAdmin.Models.Services

@{
    ViewBag.Title = "Услуга - " + Model.name;
}
<div class="white-block">
    <div class="row">
        <div class="col-md-6">
            <h3 class="no-margin no-padding">@Model.name</h3>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-orange-tta" href="@Url.Action("Edit","Services",new { Model.id })">Редактировать</a>
            <a class="btn btn-grey-tta" href="@Url.Action("Index","Services")">Вернуться к списку</a>
        </div>
    </div>
</div>
<div class="line"></div>
<div class="white-block">
    <div class="row">
        <div class="form-group">
            <div class="col-md-3">
                <label>@Html.DisplayNameFor(model => model.name)</label>
            </div>
            <div class="col-md-9 text-left">
                @Html.DisplayFor(model => model.name)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-3">
                <label>@Html.DisplayNameFor(model => model.description)</label>
            </div>
            <div class="col-md-9 text-left">
                @Html.Raw(Model.description)
            </div>
        </div>
    </div>
</div>
<div class="line"></div>
<div class="white-block">
    <div class="row">
        <div class="col-md-12 text-right">
            <p>
                <a class="btn btn-grey-tta" href="@Url.Action("Delete", "Services", new { Model.id })">Удалить</a>
            </p>
        </div>
    </div>
</div>