@model BillingAdmin.Models.Tarifs_Data

@{
    ViewBag.Title = "Просмотр";
}
<div class="white-block">
    <div class="row">
        <div class="col-md-8">
            <h3 class="no-margin no-padding">@Model.Tarifs.name</h3>
        </div>
        <div class="col-md-4 text-right">
            <a class="btn btn-orange-tta" href="@Url.Action("Edit","Tarifs_Data", new { id = Model.id })">Редактировать</a>
            <a class="btn btn-grey-tta" href="@Url.Action("Index","Tarifs_Data")">Вернуться к списку</a>
        </div>
    </div>
</div>
<div class="line"></div>
<div class="white-block">
    <div class="row">
        <div class="form-group">
            <div class="col-md-3">
                <label>@Html.DisplayNameFor(model => model.value)</label>
            </div>
            <div class="col-md-9 text-left">
                @Html.DisplayFor(model => model.value)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-3">
                <label>@Html.DisplayNameFor(model => model.count)</label>
            </div>
            <div class="col-md-9 text-left">
                @Html.DisplayFor(model => model.count)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-md-3">
                <label>@Html.DisplayNameFor(model => model.Tarifs.name)</label>
            </div>
            <div class="col-md-9 text-left">
                @Html.DisplayFor(model => model.Tarifs.name)
            </div>
        </div>
    </div>
</div>
<div class="line"></div>
<div class="white-block">
    <div class="row">
        <div class="col-md-12 text-right">
            <p>
                <a class="btn btn-grey-tta" href="@Url.Action("Delete","Tarifs_Data", new { id = Model.id })">Удалить</a>
            </p>
        </div>
    </div>
</div>