@using BillingAdmin.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

<div class="white-block">
    <div class="row">
        <div class="col-md-4">
            <p class="font-small no-padding">Вход</p>
        </div>
        @*<div class="col-md-8  text-right">
            <a class="btn btn-grey-tta" href="@Url.Action("Register","Account")">Регистрация пользователя</a>
        </div>*@
    </div>
</div>
<div class="line"></div>
<div class="white-block">
    <div class="row">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.Password, new { @class = "form" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-xs-12 col-md-6">
                    <input id="RememberMe" name="RememberMe" type="checkbox" value="true" />
                    <label for="RememberMe"><span></span>Запомнить меня</label>
                    <input name="RememberMe" type="hidden" value="false" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <input id="sendLogin" type="submit" value="Выполнить вход" class="btn btn-orange-tta" />
                </div>
            </div>
        }
    </div>
</div>