@model BillingAdmin.Models.Services_Preferences

@{
    ViewBag.Title = "Редактирование";
}
<div class="white-block">
    <div class="row">
        <div class="col-md-8">
            <h3 class="no-margin no-padding">Редактирование</h3>
        </div>
        <div class="col-md-4 text-right">
            <a class="btn btn-orange-tta" href="@Url.Action("Details","Services_Preferences",new { id = Model.id })">Просмотр</a>
            <a class="btn btn-grey-tta" href="@Url.Action("Index","Services_Preferences")">В список свойств</a>
        </div>
    </div>
</div>
<div class="line"></div>
<div class="white-block">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.serviceid, "Название услуги", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownList("serviceid", null, htmlAttributes: new { @class = "form" })
                @Html.ValidationMessageFor(model => model.serviceid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.preferenceId, "Свойство", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownList("preferenceId", null, htmlAttributes: new { @class = "form" })
                @Html.ValidationMessageFor(model => model.preferenceId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 text-right">
                <input type="submit" value="Сохранить" class="btn btn-orange-tta" />
            </div>
        </div>
    </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
